.startbbing__container{
    margin: 1rem 0 0 25rem;
    height: 85vh;
}


.dashboard__container__container{
    height: auto;
}
.startbidding__header{
    margin: 5px 0  1rem 0;
}

.startbidding__header h2{
    color: #0e8a5e;
    font-family: Sen;
    font: 400;
    font-size: 2rem;
}

.startbidding__header  h5{
    font-family: Ruluko;
    color: #000B00;;
}

.startbidding__card{
    display: flex;
    flex-direction: row;
    background-color: #fff;
    padding: 1%;
    border-radius: 10px;
    width: 100%;
    margin-bottom:1rem ;
    cursor: pointer;
    
}

.startbidding__card:hover{
    transform: scale(1.05);
    transition: all 0.2s linear;
}

.startbbing__card__image{
    padding-right: 5px;
}

.startbidding__card h3{
    color: #0e8a5e;
    font-weight: 500;
    font-family: Sarala;
    font-size: 150%;
}

.startbidding__card p{
    font-family: Ruluko;
    width: 100%;
}

.startbbing__container h4{
    color:#0e8a5e;
    font-family: Reggae One;
    margin: 2.7rem 0 0 2rem
}

.card__button{
    padding: 5px;
    border-color: #0e8a5e;
    border-radius: 5px;
    background-color: inherit;
    width: 50%;
    font-weight: 600;
    color: #0e8a5e;
}

@media (min-width: 867px) and (max-width: 992px){
    .startbbing__container{
        margin: 1rem 0 0 20rem;
    }
    
    .dashboard__container__container{
        height: auto;
    }
    
    .startbidding__header{
        margin: 1rem 0  2rem 0;
    }
    
    .startbidding__header h2{
        font-size: 2rem;
        margin: 0;
    }
    
    .startbidding__header  h5{
        font-family: Ruluko;
        color: #000B00;;
    }
    
    .startbidding__card{
        border-radius: 10px;
        width: 100%;
        
    }

    
    .startbbing__card__image{
        padding-right: 3px;
    }
    
    .startbidding__card h3{
        font-size: 100%;
    }
    
    .startbidding__card p{
        width: 100%;
    }
    
    .startbbing__container h4{
        margin: 2.5rem 0 0 2rem
    }

    
    
    .card__button{
        padding: 1%;
        background-color: inherit;
        width: 65%;
        font-weight: 600;
    }
}


@media screen and (min-width: 401px) and (max-width:  868px){
    .startbbing__container{
        margin: 2rem 0 0 0;
        padding-left: 1rem;
        width: 100%;    
    }
    
    .startbidding__header{
        margin: 5px 0  1rem 1.5rem;
        text-align: justify;
    }

    
.startbidding__header h2{
    font: 400;
    font-size: 30px;
   
}

.clear_all_link{
    font-size: 8px;
    text-decoration: none;
    font-weight: 800;
    margin-left: 1rem;
}

.startbidding__card{
    padding: 5%;
    width: 90%;
    margin-bottom: 20px ;
    margin-left: 1.5rem;
    max-width: 3000px;
    
    
    
}


.startbbing__card__image{
    padding-right: 5px;
    width: 50px;
    height: 30px;
}


.startbidding__card h3{
    font-weight: 500;
    font-size: small;
}

.startbidding__card h4{
    font-size: 15px;
    
}

.startbidding__card p{
    font-size: 15px;
    font: 400;
    width: 100%;
    margin: 0%;
}

.startbidding__header h5{
    font-size: small;
   
}


.card__button{
    padding: 2px;
    border-radius: 5px;
    width: 70px;
    font-weight: 600;
    font-size: 10px;
}


  }

  @media screen and (min-width: 120px) and (max-width:  400px){
    .startbbing__container{
        margin: 0 0 0 0;
        padding-left: 1rem;
        width: 100%;    
    }
    
    .startbidding__header{
        margin: 5px 0  1rem 0;
    }

    
.startbidding__header h2{
    font: 400;
    font-size: 17px;
    
}

.clear_all_link{
    font-size: 8px;
    text-decoration: none;
    font-weight: 800;
    margin-left: 1rem;
}

.startbidding__card{
    padding: 2%;
    width: 100%;
    margin-bottom: 10px ;
    margin-left:-0.5rem;
    
    
    
}


.startbbing__card__image{
    padding-right: 5px;
    width: 30px;
    height: 30px;
}


.startbidding__card h3{
    font-weight: 500;
    font-size: small;
}

.startbidding__card h4{
    font-size: 10px;
    
}

.startbidding__card p{
    font-size: 10px;
    font: 400;
    width: 100%;
    margin: 0%;
}

.startbidding__header h5{
    font-size: small;
    
}


.card__button{
    padding: 2px;
    border-radius: 5px;
    width: 70px;
    font-weight: 600;
    font-size: 10px;
}


  }