.transaction__container{
    margin: 2rem 0 0 24%;
    height: 83vh;
    width: 100%;
}

.transaction__items{
    display: flex;
    flex-direction: row;
}

.transactions{
    background-color: #fff;
    padding: 2rem;
    margin-right: 1rem;
    border-radius: 5px;
}

.transaction__heading h4{
    color: #0E8A5E;
    font-weight: 600;
    font-family: Sarala;
}

.transaction__heading{
    margin-bottom: 2rem;
}

.transaction__heading h6{
    font-family: Ruluko;
    color: #6D6D6D;
}

.transaction__managers{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 2rem;
}

.buttons{
    margin-right: 5rem;
}

.investiment__button{
    margin-right: 1rem;
    border-radius: 5px;
    background-color: #0E8A5E;
    padding: 3px 10px 3px  10px;
    color: #fff;
    font-weight: 500;
    border-color: #0E8A5E;
}

.withdraw__button{
    border-radius: 5px;
    padding: 3px 10px 3px  10px;
    font-weight: 500;
    border-color: #0E8A5E;
    color: #0E8A5E;
}

.investiment__button:hover{
    background-color: #fff;
    color: #0E8A5E;
    transition: all 0.2s linear;
}

.withdraw__button:hover{
    background-color: #0E8A5E;
    color: #fff;
    transition: all 0.2s linear;
}

.search__button{
    background-color:#3C9DDA;
    border-radius: 5px;
    border-color: #3C9DDA;
    margin-left: 1rem;
}


.search__container{
    display: flex;
    flex-direction: row;
    height: 30px;
    width: 250px;
}
.transactions__table{
    width: 100%;
}


th{
    background-color: #3C9DDA;
    padding: 0 40px 0 40px ;
    color: #fff;
    align-content: center;
}

tr td{
    padding: 5px 10px 5px 10px;
    color: #808080;
    border-bottom:  0.30px solid;
    text-align: center;
}

.completed{
    color: #0E8A5E;
    border: 1px  solid;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.ongoing{
    color: #FB1717;
    border: 1px solid;
    padding: 4px 7px 4px 7px;
    border-radius: 5px;
}

.transaction__last__row{
    background-color: #fff;
    padding: 35px 35px 2rem 35px;
    border-radius: 5px;
    align-items: center;
    margin-right: 1rem;
    
}
.row__image{
    width: 100px;
    font-weight: 600;
    text-align: center;
}

.row__text{
    margin-bottom: 4rem;
}
.row__text h5{
    font-family: Sarala;
    font-size: 20px;
    color: #3C9DDA;
    font-weight: 600;
    text-align: center;

}

.row__text h6{
    color:  #B8B6B6;
    font-size: 15px;
    text-align: center;
}

.overlay{
    margin-left: 14rem;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: #797777a6;
    transition: opacity 500ms;
    opacity: 10;
}
.overlay:target{
    visibility: visible;
    opacity: 1;
   
}

.wrapper{
    margin: 70px auto;
    padding: 20px;
    border-radius: 5px;
    width: 30px;
    position: relative;
    transition: all 5s ease-in-out;
}


.wrapper .close{
    position: absolute;
    top: 20px;
    right: 30px;
    transition: all 200ms;
    font-size: 30px;
    font-weight: bold;
    text-decoration: none;
    color: #fff;
}
.content{
    background-color: #fff;
    text-align: center;
    margin: 3rem 15rem 3rem 15rem;
    padding: 2rem 2rem 2rem 2rem;
    border-radius: 20px;
    width: 400px;

}

.withdraw__items{
    color: #3C9DDA;
    font-family: Reggae One;
    font-weight: 900;
    float: right;
}

.withdraw__image{
    margin-left: 4rem;
    width: 180px;
    padding-right: 4rem;
}
.withdraw__text{
    color:  #3C9DDA;
    font-family: Sarala;
    font-weight: 500;
    padding-bottom: 2rem;
}

.withdraw__balance h6{
    color: #DA3C3C;
    font-size: smaller;
    margin-right: 11rem;
    
}

.withdraw__balance input{
    width: 300px;
    border-radius: 8px;
    margin: 1rem 1rem 1rem 1rem;
    
}

.withdraw__button2{
    background-color: #3C9DDA;
    width: 170px;
    color: #fff;
    border-color: #3C9DDA;
    border-radius: 20px;
    margin-top: 2rem;
    padding: 5px;
}

@media (min-width: 867px) and (max-width: 992px){
    .transaction__container{
        height: 130vh;
        margin: 2rem 2rem 0 25%;
    }

    .transactions{
        padding: 2rem;
    }

    .transaction__items{
        display: flex;
        flex-direction: column;
    }
    
    .transaction__heading h4{
        font-weight: 600;
        font-family: Sarala;
    }
    
    .transaction__heading{
        margin-bottom: 2rem;
    }
    
    .transaction__heading h6{
        font-family: Ruluko;
        color: #6D6D6D;
    }
    
    .transaction__managers{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 2rem;
    }
    
    .buttons{
        margin-right: 5rem;
    }
    
    .investiment__button{
        margin-right: 1rem;
        border-radius: 5px;
        padding: 3px 10px 3px  10px;
        font-weight: 500;
    }
    
    .withdraw__button{
        border-radius: 5px;
        padding: 3px 10px 3px  10px;
        font-weight: 500;
        border-color: #0E8A5E;
        color: #0E8A5E;
    }
    
    .investiment__button:hover{
        background-color: #fff;
        color: #0E8A5E;
        transition: all 0.2s linear;
    }
    
    .withdraw__button:hover{
        background-color: #0E8A5E;
        color: #fff;
        transition: all 0.2s linear;
    }
    
    .search__button{
        background-color:#3C9DDA;
        border-radius: 5px;
        border-color: #3C9DDA;
        margin-left: 1rem;
    }
    
    
    .search__container{
        display: flex;
        flex-direction: row;
        height: 30px;
        width: 200px;
    }
    .transactions__table{
        width: 40%;
    }
    
    
    th{
        background-color: #3C9DDA;
        padding: 0 10px 0 10px ;
        color: #fff;
        align-content: center;
    }
    
    tr td{
        padding: 5px 10px 5px 10px;
        color: #808080;
        border-bottom:  0.30px solid;
        text-align: center;
    }
    
    .completed{
        color: #0E8A5E;
        border: 1px  solid;
        padding: 4px 7px 4px 7px;
        border-radius: 5px;
    }
    
    .ongoing{
        color: #FB1717;
        border: 1px solid;
        padding: 4px 7px 4px 7px;
        border-radius: 5px;
    }
    

.transactions{
    margin-bottom: 2rem;
    padding-bottom: 2rem;
    
}


.transaction__last__row{
    padding: 5px 5px 5px 5px;
    width: 200px;
    text-align: center;
   
}


.row__image{
    width: 60px;
    text-align: center;
}


.row__text{
    margin-bottom: 3rem;
  }


  
.row__text h5{
    font-size: 17px;
    font-weight: 600;
    text-align: center;

}


.row__text h6{
    font-size: 17px;
   
}


.overlay{
    margin-left: 10rem;
}

.wrapper{
    margin: 2rem;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
}



.withdraw__image{
    width: 150px;
    height: 50px;
    margin-left: 4rem;
    padding-right: 5rem;

    
}

.content{
    margin: 4rem 10px 5px 8rem;
    padding: 2rem 2rem 4rem 2rem;
    width: 400px;
    height: 400px;
}

.withdraw__items h5{
    font-size: 15px;
    
}

.close{
    margin-left: 5rem;
}

.withdraw__balance h6{
font-size: 10px;
width: 200px;
padding-right: 6rem;
}

.withdraw__balance input{
    margin-left: 0;
    width: 350px;
}

.withdraw__button2{
    margin-top: 1px;
    padding: 2px;
}
 
  }

  @media screen and (min-width: 401px) and (max-width:  868px){
    
    .transaction__container{
        height: auto;
        margin: 2rem 2rem 0 1rem;
    }
    .transaction__items{
        display: flex;
        flex-direction: column;
    }

     
    th{
        padding: 0 12px 0 12px ;
        font-size: small;
    }
    
    tr td{
        padding: 5px 7px 5px 7px;
        color: #808080;
        border-bottom:  0.30px solid;
        text-align: center;
        font-size: small;
    }
    
    
.completed{
    color: #0E8A5E;
    border: 1px  solid;
    padding: 0 3px 0 3px;
    border-radius: 5px;
}

.ongoing{
    color: #FB1717;
    border: 1px solid;
    padding: 0 3px 0 3px;
    border-radius: 5px;
}

.transaction__last__row{
    background-color: #fff;
    padding: 35px 35px 2rem 35px;
    border-radius: 5px;
    align-items: center;
    margin-right: 1rem;
    margin-top: 2rem;
    width: 30%;
    
}
.row__image{
    width: 100px;
    font-weight: 600;
    text-align: center;
}

    .buttons{
        margin-right: 2px;
        width: 60%;
    }
  }

  @media screen and (min-width: 120px) and (max-width:  400px){
    .transaction__container{
        margin: 2rem 0 0 7px;
        width: 50%;
        height: auto;
    }
    
.transactions{
    padding: 10px;
    margin-right: 1rem;
    width: 100%;
}

.transaction__managers{
    width: 100%;
}

.transaction__heading h4{
    font-weight: 600;
    font-size: medium;
}

.dashboard__container__container{
    height: fit-content;
}
.transaction__heading{
    margin-bottom: 1rem;
}


.transaction__heading h6{
    font-size: small;
}


.buttons{
    width: 100%;
    margin-right: 1rem;
   
}

.investiment__button{
    margin-right: 5%;
    width: 40%;
    font-size: 60%;
    padding: 3px 0 3px 0;
}


.withdraw__button{
    padding: 3px 0 3px  0;
    width: 40%;
    font-size: 60%;  
}



.search__button{
    margin-left: 5px;
    width: 50%;
    font-size: 10px;
    height: 20px;

}


.search__container{
    height: 20px;
    width: 100%;
    margin-top: 5px;
    font-size: xx-small;
   
}

.transactions__table{
    width: 100%;
    margin: 1px;
}

table{
    width: 10%;
    padding: 3rem
}

.transaction__items{
    display: flex;
    flex-direction: column;
}

th{
    align-items: center;
    font-size: 9px;
    width: 10%;
    padding: 0 6px 0 6px ;


}


tr td{
    font-size:40%;
    width: 10%;
    align-items: center;
    padding: 0 4px 0 4px ;

   
}

.completed{
padding: 5%;
font-size: 10px;
width: 100%;
margin-top: 3px
}


.ongoing{
padding: 5%;
font-size: 10px;
width: 100%;
margin-top: 3px
}


.transactions{
    margin-bottom: 2rem;
    padding-bottom: 2rem;

    
}


.transaction__last__row{
    padding: 5px 5px 5px 5px;
    width: 45%;
    text-align: center;
    margin-bottom: 2rem;
   
}


.transaction__container{
    width: 100%;
}
.row__image{
    width: 40%;
    text-align: center;
}


.row__text{
    margin-bottom: 2rem;
  }


  
.row__text h5{
    font-size: 12px;
    font-weight: 600;
    text-align: center;

}


.row__text h6{
    font-size: 10px;
   
}


.overlay{
    margin-left: 4.5rem;
}

.wrapper{
    margin: 9px auto;
    padding: 10px;
    border-radius: 5px;
    width: 100px;
    text-align: center;
}



.withdraw__image{
    width: 150px;
    height: 50px;
    margin-left: 4rem;
    padding-right: 5rem;

    
}

.content{
    margin: 4rem 10px 5px 3rem;
    padding: 2rem 2rem 4rem 2rem;
    width: 300px;
    height: 300px;
}

.withdraw__items h5{
    font-size: 15px;
    
}

.close{
    margin-right: 6rem;
}

.withdraw__balance h6{
font-size: 10px;
width: 200px;
padding-right: 6rem;
}

.withdraw__balance input{
    margin-left: 0;
    width: 250px;
}

.withdraw__button2{
    margin-top: 1px;
    padding: 2px;
}



}