.navbar__container{
    background-color: #fff;
    width: 100%;
    position: fixed;
    top: 0;
    z-index: 999;
    max-width: 1500px;
    height: 50px;

}


.nav-links:focus{
    background-color: #0e8a5e;
    width: fit-content;
    color: #fff;
    padding: 6%;
}
.navbar__container p{
    float: right;
    margin: 0 5rem 0 ;
    font-size: 1.5rem;
    color: #0e8a5e;
    font-weight: 600;
    font-family: Reggae One;

}


.side__Nav{
    align-items: center;
    background-color: #fff;
    padding-left: 50px;
    position: fixed;
    box-shadow: 0 0 15px 0 #fff;
    height: 120vh;
    padding-top: 1rem;
    z-index: 999;
  
} 


.dropbtn{
    font-weight: 00;
  }


ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 200px;
     height: 500px;
     position: relative;
     overflow: auto;
     z-index: 1;
  }
  
  li a {
    display: block;
    color:  #808080;
    padding: 20px 16px;
    text-decoration: none;
    opacity: inherit;
    position: relative;
    font-size: 1.2rem;
    
  }

  li a:hover{
    color: #0e8a5e;
  }

  .settings{
    display: block;
    color:  #808080;
    padding: 30px 16px;
    text-decoration: none;
    opacity: inherit;
    position: relative;
    font-size: 1.2rem;
    cursor: pointer;
  }

  .profile__setting, .bank__setting{
    font-size: smaller;
  }

  

  .sidenav__image{
      width: 200px;
      padding: 30px 20px;
      margin-left: 2rem;
      
  }
  
 
  .dashboard__container__container{
      display: flex;
      flex-direction: row;
      background-color: #F4F4F4;
      height: auto;

      
      
  }

  .dashboards{
      width: 70%;
      display: flex;
      padding-bottom: 0.5rem


}

.dashboard__medle__items{
    width: 100%;
    
}
.card1 {
    display: inline-flex;
    text-decoration-line: none;
    background-color: #fff;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    cursor: pointer;

}


.cardText{
    margin-right: 30px;
    margin-top: 3rem;
    width: 200px;
    text-decoration: none;
}
.card1 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
    text-decoration: none;
}

.card1 p{
    color:  #6D6D6D;
    text-decoration: none;
    font-size: 15px;
}

.card2 {
    display: flex;
    flex-direction: row;
    background-color: #E0FFE7;
    width: 90%;
    padding: 15px;
    border-radius: 10px;
    margin-bottom: 0.8rem;
    cursor: pointer;

}

.card__image{
    width: 200px;
    height: 100px;
}
.cardText{
    margin-right: 30px;
    margin-top: 2rem;
    width: 500px;
}
.card2 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;

}

.card2 p{
    color: #6D6D6D;
    font-size: 15px
    ;
}
.card3 {
    display: flex;
    flex-direction: row;
    background-color: #B7FEA5;
    width: 90%;
    padding: 15px;
    border-radius: 19px;
    margin-bottom: 0.8rem;
    cursor: pointer;

}


.card3 h3{
    color: #0e8a5e;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 20px;
}

.card3 p{
    font-size: 15px;
}

.header_container{
    align-content: center; 
}

.middle_first{
    color: #0e8a5e;
    padding: 1rem 0 0 1rem;
    margin-left: -1rem;

}
.middle_first p{
    color: #000;
    margin-right: 30px;
    font-weight: 500;
    font-family: Ruluko;
    padding: 0 0 5px 5px;
    font-size: 18px;
}
.middle_first h1{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 40px;
    font-weight: 400;

}

.fund_wallet__button{
    padding: 4px;
    width: 250px;
    margin: 2rem 0 2rem 0;


}


.dashboard__row{
    background-color: #fff;
    padding: 2rem 0 2% 0 ;
    width: 100%;
    border-radius: 10px;

 }

 .dashboard__row h4{
     text-align: center;
     color: #000000;
     margin-bottom: 1.2rem;
     font-weight: 400;
 }

 .analytics{
     display: flex;
     font-family: Sarala;
     margin: 0 0 3.5rem 20px;
 }

 .analytics__items{
     margin-right: 2rem;
     margin-bottom: -2.2rem;
 }

 .analytics__items h6{
     font-weight: 500;
     font-size: 1rem;

 }

 .Ball{
     margin-right: 1rem;
 }

 
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
  
  .profile__setting, .bank__setting{
    color: #0e8a5e;  
    text-decoration: none;
    display: block;
    text-align: left;
  }
  
  .profile__setting:hover {
      background-color: #f1f1f1;
    }

    .bank__setting:hover{
        background-color: #f1f1f1;
    } 

    .settings:hover .dropdown-content {
        display: block;
      }
  
  .dropdown:hover .dropdown-content {
    display: block;
  }

  
.profile__setting,.bank__setting {
    display: inline-block;
    text-align: center;
    color:  #0e8a5e;
    padding: 10px 16px;
    text-decoration: none;
    transition-delay: 250ms;
  }
  
  .profile__setting, .bank__setting, .dropdown {
    display: inline-block;

  }

  


  
  @media (min-width: 867px) and (max-width: 1562px){
    .navbar__container{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
        max-width: 1500px;
    
    
    }

    
.navbar__container p{
    margin: 10px 10rem 0 ;
    font-size: 20px;
    font-weight: 800;
}

.side__Nav{
    align-items: center;
    padding-left: 20px;
    height: 100vh;
    width: 260px;
    top: 45px;
}


ul {
    width: 100%;
     overflow: auto;
     z-index: 1;
  }

  .nav-links {
    padding: 20px 16px;
    font-weight:350;
    font-size: 1.3rem;
  }

  
  .settings{
    padding: 0 0;
    font-weight:600;
    font-size: 1rem;
    margin-right: 5rem;
  }

  .dropbtn{
    padding: 6px 16px;
    font-weight:350;
    font-size: 1.2rem;
  }

  
  .sidenav__image{
    width: 230px;
    padding: 2px 20px 1rem;
    margin-left: -1rem;
    
}

.dashboards{
    width: 100%;
    margin-left: 0;
    margin-bottom: 1rem;

}

.card1, .card2, .card3 {
    width: 75%;
    height: 25%;
    padding: 11px;
    margin-bottom: 20px;
    justify-content: space-between;
    margin-right: -10rem;
    
}

.card__image{
    width: 186px;
    height: 120px;
}

.middle_first{
    padding: 9px 0 0 5px;
   
}

.middle_first h1{
    font-size: 1.9rem;
    margin-left: 1rem;
}

.middle_first p{
    font-size: 15px;
    margin-left: 0.7rem;
}

.menu-icon{
    display: none;
}


.cardText {
    margin-right: 3%;
    margin-top: 5px;
    font-size: 20px;
}

.cardText h3{
    font-size: 25px;
  
}
.dashboard__container__container{
    width: 100%;
    height: 100%;
    padding: 0 1rem 0 0;
}

.dashboard__row{
    width: 100%;
 
    }

.dashboard__row h4{
    font-size: 20px;
    font-weight: 500;
}

.analytics__items h6{
    font-weight: 700;
    font-size: 15px;
    margin-left: 1rem;
}

.Ball{
    margin-right: 3px;
    width: 30px;
    height: 30px;
    margin-left: 0;
}


.dashboard__medle__items{
    margin-left: 19rem;
    margin-right: -2%;
}

.dashboard__row h4{
    margin-bottom: 3rem;
    padding-bottom: 0;
}

.analytics__items{
    padding-bottom: 0.5rem;
}

.dashboard__last__items{
    max-width: 100%;
    margin-right: 3rem;
    margin-left: 0;
    
}

   
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 10px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;

  }

  .profile__setting:hover {
    background-color: #f1f1f1;
  }

  .bank__setting:hover{
      background-color: #f1f1f1;
  } 

  .settings:hover .dropdown-content {
      display: block;
    }

.dropdown:hover .dropdown-content {
  display: block;
}
  }
  
  @media screen and (min-width: 401px) and (max-width:  866px){
    .navbar__container{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
        max-width: 1500px;
        height: 30px;
    }

    .fa-bars {
        color: #0e8a5e;
      }
    
.navbar__container p{
    margin: 10px 1rem 0 ;
    font-size: 10px;
    font-weight: 800;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 30px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0e8a5e;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 999;
    height: 90%;
  }


  .nav-links {
    padding: 1.1rem;
    display: table;
    color: #ffff;
    font-size: 0.9rem;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }


  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }


  .dropbtn{
    padding: 0 8px;
    font-weight:400;
    font-size: 0.9rem;
    color: #ffff;
    margin-left: -0.3rem;
  }

  
  .sidenav__image{
    width: 110px;
    margin-left: -1rem;
    top: 0;
    margin-top: -3rem;
    
    
}

.profile__setting, .bank__setting{
    font-size: 12px;
    color: #ffff;
    padding: 0;
  }

.dashboards{
    width: 100%;
    margin-left: -0.2rem;
    margin-bottom: 9.5rem;

}


.card1, .card2, .card3 {
    width: 90%;
    padding: 17px;
    margin-bottom: 35px;
    border-radius: 10px;
   
}

.card__image{
    width: 60px;
    height: 80px;
}

.middle_first{
    padding: 5px 0 0 5px;
    margin-left: 0.07rem;
}

.middle_first h1{
    font-size: 20px;
    margin: 2rem  0 0 0;
}

.middle_first p{
    font-size: 10px;
}


.cardText {
    margin-right: 3px;
    margin-top: 5px;
    width: 500px;
    font-size:10px;
}

.cardText h3{
    font-size: 10px;
  
}

.fund_wallet__button{
    width: 100%;
}
.fund_wallet__button button{
    font-size: 10px;
    margin-bottom: 0;
    width: 100%;
}

.dashboard__container__container{
    width: 100%;
    height: fit-content;
    padding: 0 1rem 0 0;
}

.dashboard__row{
   width: 100%;
   padding: 5px;
    
    }

.dashboard__row h4{
    font-size: 11px;
    font-weight: 800;
}

.dashboard__last__items{
    width: 30%;
    max-width: 100%;
    margin-top: 2.5rem;
    margin-left: 0.5rem;
    
}

.analytics__items h6{
    font-size: 10px;
    padding: 0;
    width: 100%;

}


.analytics__items{
    margin-bottom: 40%;
}
.Ball{
    width: 10px;
    height: 10px;
    margin-left: 0;
    padding: 0;
}


.dashboard__medle__items{
    margin-left: 1rem;
}

.dashboard__row h4{
    margin-bottom: 1rem;
    padding-bottom: 0;
}

.analytics{
    padding: 0;
    margin: 0;}



    .dashboard__medle__items{
        width: 70%;
        margin-right: 0;
        padding-right: 0;
    }

    .dashboard__container__container{
        height: 180vh;
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .profile__setting:hover {
          background-color: #f1f1f1;
        }
    
        .bank__setting:hover{
            background-color: #f1f1f1;
        } 
    
        .settings:hover .dropdown-content {
            display: block;
          }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      
    .profile__setting,.bank__setting {
        display: inline-block;
        text-align: center;
        background-color:  #0e8a5e;
        padding: 10px 16px;
        text-decoration: none;
        transition-delay: 250ms;
      }
      
      .profile__setting, .bank__setting, .dropdown {
        display: inline-block;
    
      }
    
      

.side__Nav{
    padding-left: 0;
    background-color: inherit;
    box-shadow: none;
}

li a:hover{
    color: #fff;
    margin: 0;
    border-bottom: 1px solid;
    border: none;
  }

}
  
  @media screen and (min-width: 120px) and (max-width:  400px){
    .navbar__container{
        width: 100%;
        position: sticky;
        top: 0;
        z-index: 999;
        max-width: 1500px;
        height: 30px;
    }

    .fa-bars {
        color: #0e8a5e;
      }
    
.navbar__container p{
    margin: 10px 1rem 0 ;
    font-size: 10px;
    font-weight: 800;
}
.nav-menu {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 30px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background: #0e8a5e;
    left: 0;
    opacity: 0.9;
    transition: all 0.5s ease;
    z-index: 999;
    height: 90%;
  }


  .nav-links {
    padding: 1.1rem;
    display: table;
    color: #ffff;
    font-size: 0.9rem;
  }


  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }


  .nav-links-mobile {
    display: block;
    text-align: center;
    margin: 2rem auto;
    border-radius: 4px;
    width: 80%;
    text-decoration: none;
    font-size: 1.5rem;
    background-color: transparent;
    color: #fff;
    padding: 14px 20px;
    border: 1px solid #fff;
    transition: all 0.3s ease-out;
  }

  .nav-links-mobile:hover {
    background: #fff;
    color: #242424;
    transition: 250ms;
  }


  .dropbtn{
    padding: 0 8px;
    font-weight:400;
    font-size: 0.9rem;
    color: #ffff;
    margin-left: -0.3rem;
  }

  
  .sidenav__image{
    width: 110px;
    margin-left: -1rem;
    top: 0;
    margin-top: -3rem;
    
    
}

.profile__setting, .bank__setting{
    font-size: 12px;
    color: #ffff;
    padding: 0;
  }

.dashboards{
    width: 100%;
    margin-left: -0.2rem;
    margin-bottom: 1.5rem;

}


.card1, .card2, .card3 {
    width: 90%;
    padding: 10px;
    margin-bottom: 35px;
    border-radius: 4px;
   
}

.card1 p{
    font-size: 7px;
}

.card2 p{
    font-size: 6px;
}

.card__image{
    width: 50px;
    height: 60px;
}

.middle_first{
    padding: 5px 0 0 5px;
    margin-left: 0.07rem;
}

.middle_first h1{
    font-size: 15px;
    margin: 1rem 0 0 0;
}

.middle_first p{
    font-size: 10px;
}


.cardText {
    margin-right: 3px;
    margin-top: 5px;
    width: 500px;
    font-size:10px;
}

.cardText h3{
    font-size: 10px;
  
}

.fund_wallet__button{
    width: 100%;
}
.fund_wallet__button button{
    font-size: 10px;
    margin-bottom: 0;
    width: 100%;
}

.dashboard__container__container{
    width: 100%;
    height: fit-content;
    padding: 0 1rem 0 0;
}

.dashboard__row{
   width: 100%;
   padding: 5px;
    
    }

.dashboard__row h4{
    font-size: 11px;
    font-weight: 800;
}

.dashboard__last__items{
    width: 30%;
    max-width: 100%;
    margin-top: 2.5rem;
    margin: 2.5rem  4rem 0 -0.5rem;
    
}

.analytics__items h6{
    font-size: 8px;
    padding: 0;
    width: 100%;

}


.analytics__items{
    margin-bottom: 13px;
}
.Ball{
    width: 10px;
    height: 10px;
    margin-left: 0;
    padding: 0;
}


.dashboard__medle__items{
    margin-left: 1rem;
}

.dashboard__row h4{
    margin-bottom: 1rem;
    padding-bottom: 0;
}

.analytics{
    padding: 0;
    margin: 0 0.5rem;

}



    .dashboard__medle__items{
        width: 70%;
        margin-right: 0;
        padding-right: 0;
    }

    .dashboard__container__container{
        height: 180vh;
        
    }

    .dropdown-content {
        display: none;
        position: absolute;
        min-width: 10px;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
      }
      
      .profile__setting:hover {
          background-color: #f1f1f1;
        }
    
        .bank__setting:hover{
            background-color: #f1f1f1;
        } 
    
        .settings:hover .dropdown-content {
            display: block;
          }
      
      .dropdown:hover .dropdown-content {
        display: block;
      }
    
      
    .profile__setting,.bank__setting {
        display: inline-block;
        text-align: center;
        background-color:  #0e8a5e;
        padding: 10px 16px;
        text-decoration: none;
        transition-delay: 250ms;
      }
      
      .profile__setting, .bank__setting, .dropdown {
        display: inline-block;
    
      }
    
      

.side__Nav{
    padding-left: 0;
    background-color: inherit;
    box-shadow: none;
}

li a:hover{
    color: #fff;
    margin: 0;
    border-bottom: 1px solid;
    border: none;
  }

}
  