.profile__container{
    margin: 2rem 0rem 2rem 40%;
    width: 100%;

}

.btn-primary{
    width: 20%;
    padding: 0;
    height: 40px;
}

.form__items input{
    height: 50%;
    width: 100%;
    font-size: small;
    margin-bottom: 2rem;
   
}

.form__items{
    display: flex;
    flex-direction: row;
    margin: 3rem 0 5rem 0;
    width: 100%;
}

.firstline{
    margin-right: 7rem;
}

.secondline{
    margin-right: 7rem;
}

.profile__items h3{
    color: #0e8a5e;
    font-family: Sen;
    font-weight: 600;
}

label{
    font-weight: 600;
    font-family: Sen;
}
@media (min-width: 701px) and (max-width: 868px)
{
    .profile__container{
        margin: -45rem  0  0 12%;
        width: 100%;
        align-self: center;
    }
    
    
    .form__items input{
        height: 50%;
        width: 100%;
        font-size: large;
        margin-bottom: 1rem;
       
    }
    

.btn-primary{
    width: 30%;
    font-size: 20px;
    height: 40px;
    margin-top: 1rem;
    padding: 0;
    
}


.firstline{
    margin-right: 7rem;
}

.secondline{
    margin-right: 7rem;
}


label{
    font-weight: 600;
    font-size: 20px;
}

.form__items input{
    height: 50%;
    width: 100%;
    font-size: small;
    margin-bottom: 1rem;
   
}


.profile__items h3{
    font-size: 1.2rem;
    margin-bottom: 1.5rem;
}

}
@media screen and (min-width: 401px) and (max-width:  700px){
    .profile__container{
        margin: 0 0  0 1rem;
        width: 100%;
        height: 30%;
    }


    .dashboard__container__container{
        height: auto;
    }
 }
@media screen and (min-width: 120px) and (max-width:  401px){
    .profile__container{
        margin: 2rem 0  0 1rem;
        width: 100%;
        align-self: center;
        margin-bottom: 9rem;
    }
    

    .dashboard__container__container{
        height: auto;
    }
    .profiles{
        width: 100%;
    }

    .profiles__list{
        width: 100%;
    }

.form__items{
    margin: 0 0 1rem 0;
    width: 100%;
}


.btn-primary{
    width: 20%;
    font-size: 12px;
    height: 30px;
    padding: 0;
    margin-top: 1rem;
    
}


.firstline{
    margin-right: 2rem;
    width: 200px;
}

.secondline{
    margin-right: 2rem;
    width: 200px;
}


label{
    font-weight: 600;
    font-size: 90%;
}


.profile__items h3{
    font-size: medium;
    margin-bottom: 1rem;
}

}