.btn-success {
  width: 100%;
}

.btn-default{
  border: solid 1px;
  border-color: #0e8a5e;
  color: #0e8a5e;
  width: 100%;
  border-radius: 15px;
}



error{
  color: red;
  font-size: small;
}

.success{
  background-color: green;
  color: #fff;
  width: 100%;
  border-radius: 6px;
}
.error__notifier{
  margin: 0;
  color: red;
}
.forgot__password{
  text-decoration: none;
  color: red;
  font-style: italic;
}
.verifyaccount{
  text-decoration: none;
  color: green;
  font-style: italic;
}

.signup__link{
  text-decoration: none;
  color: #0e8a5e;
  font-style: italic;
}
.userImage {
  margin-top: 70px;
  width: 81%;
}


.sidenav {
  height: 100vh;
  width: 30%;
  z-index: -1;
  position: fixed;
  text-align: center;
  padding-right: 2em;
  padding-left: 4em;
  background-color: #0e8a5e;
  overflow-x: hidden;
  padding-top: 60px;
  color: white;
}


.gigalogo{
  width: 200px;
  align-items: center;
  position: fixed;
  top: 0;
  z-index: 999;
  background-color: #fff;

}

.body {
  margin-left: 40%;
  padding-top: 30px;
  padding-right: 40px;
  
}

.home_items{
  margin: 5rem;
}

h2 {
  padding: 0px;
  margin: 0 0 3rem 0;
}
.card {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  padding: 10px 8px 0 10px;
  height: 80px;
  border-radius: 5px;
  display: inline;
}
a {
  color: black;
}
.smallBox {
  float: left;
  margin: 0 10px 0 -25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #0e8a5e;
}

.main_company_container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.company__image__container{
  margin-left: 30%;
}
.or_userRegistration{
  display: flex;
  flex-direction: column;
}

.companyreg__form{
  width: 400px;
}

.or_User_Reg_btn{
  border-radius: 50px;
  padding: 5px;
  background-color: inherit;
  border-color: #0e8a5e;
  color: #0e8a5e;
  font-weight: 700;
  width: 400px;
}

.gigamoni__logo{
  width: 200px;
}

.companyreg__container{
  justify-content: space-between;
  margin: 10px 0 0 70px;  
}

.companyreg__image{
  padding: 0 3rem 3rem 3rem;
 
}

.company_reg_heading{
  padding: 10px;
  font-size: 1.2rem;
  color: #0e8a5e;
  font-weight: 600;
  margin-left: 5rem;
  margin-top: 0;
 padding: 0;
}

.undraw__finance{
  width: 600px;
}

.Registration_btn{
  border-radius: 50px;
  padding: 5px;
  background-color: #0e8a5e;
  border-color: #0e8a5e;
  font-weight: 700;
  color: #f1f1f1;
  width: 100%;
}


.login__link{
  text-decoration: none;
  color: #0e8a5e;
  font-weight: 600;
}

.or_line{
  display: flex;
  padding: 1rem;
}

.line{
  padding: -30px;
  color: #000;
  width: 700px;
}
.confirmEmail__container{
  align-items: center;
  height: 100vh;
}

.confirmEmail__Item{
  text-align: center;
  width: 22%;
  margin: 5rem 10rem 0 29rem;
  justify-content: space-between;
}
.login_container{
  margin-top: 6rem;
  width: 90%;
}

.confirmEmail__header{
  padding: 2rem;
  color: #0e8a5e;
  font-size: 1.5rem;
}
.resend__p{
  padding: 0 0 3rem 0;
}

.resend__button{
  text-decoration: none;
  color: #0e8a5e;
}
.giga_Logo{
  width: 300px;
}

.hr_p{
  padding: 0 30px 0 30px;
  justify-content: baseline;
}

.userregistration__box{
 border: 2px solid;
 border-radius: 10px;
 border-color: #ffff;
 display: flex;
 flex-direction: row;
 padding: 5px;
 width: 70%;
 box-shadow: 0 5px 10px 1px rgba(0, 0, 0, 0.25);
 margin-bottom: 4rem;
}

.gigaimage{
  width: 30%;
  margin-left: 10rem;
}

.userregistration__box h5{
  font-size: 1.5rem;
  text-decoration: none;
}

.userregistration__box h6{
  font-size: 13px;
}

.userbox_text{
  margin-left: 3rem;
}

.userbox_text:hover{
  color: #0e8a5e;
}
.angle__pic{
  width: 60px;
  height: 60px;
  padding: 5px;
  border-radius: 10px;
  text-align: center;
}

.greenball__pic{
  width: 60px;
  height: 60px;
  padding: 5px;
  background-color: #fff;
  border-radius: 10px;
  text-align: center;
}

/* .menu-icon{
  display: block;
} */

/* .fa-bars{
  color: #fff;
} */


.col-lg-8 h4{
  color: green;
text-align: center;
font-size: 1.5rem;

}

.col-lg-8{
  margin-top: 3.7rem;
  margin-bottom: 1rem;
}

.loginheading_paragraph{
  font-size: 1rem;
  font-weight: bold;
  text-align: center;
}

/* MEDIA SCREEN */

@media (min-width: 867px) and (max-width: 992px){
  .sidenav {
  width: 300px;
  padding: 30px 50px 0 15px;
  height: 100vh;
  }
  
  .body {
    margin-left: 40%;
    padding-top: 30px;
    padding-right: 40px;
}



  
.home_image{
  width: 250px;
  margin-top: 3rem;
}


.gigalogo{
  width: 150px;
}

.row{
  width: 400px;
  margin: 0 0 0 6rem;
  
}


.confirmEmail__Item{
  margin: 2rem 2rem 0 12rem;
  justify-content: space-between;
  width: 350px;
}

.or_User_Reg_btn{
  width: 250px;
}

.giga_Logo{
  width: 250px;
}

.Registration_btn{
  width: 250px;
}

.login_container{
  margin-top: 2rem;
  width: 90%;
}

.companyreg__container{
  display: flex;
  flex-direction: column; 
  margin: 0;
  padding-bottom: 3rem;
  align-items: center;
}
.gigamoni__logo{
  width: 200px;
  margin-top: 1rem;
}


.companyreg__form{
  width: 40%;
  margin-left: 2rem;
}


.or_User_Reg_btn{
  padding: 3px;
  font-weight: 600;
  width: 100%;
}

.userregistration__box{
  border: 2px solid;
  padding: 2px;
  width: 100%;
  margin-bottom: 2rem;
  border-color: #fff;
 }

 
.company_reg_heading{
  padding: 6px;
  font-size: 1.5rem;
  font-weight: 600;
  margin-bottom: 3.5rem;
}


.undraw__finance{
  text-align: center;
  width: 480px;
  margin: 0;
}


.Registration_btn{
  padding: 5px;
  font-weight: 600;
  width: 100%;
}


.main_company_container{
  display: flex;
  flex-direction: row;
  width: 100%;
}

.company__image__container{
  margin-left: 12%;
}


}
@media screen and (min-width: 401px) and (max-width:  868px){
.sidenav{
  width: 15%;
}

.home_items {
  margin-top: 3rem;
}

.home_items h2{
  font-size: 20px;
  width: 100%;

}

.company_reg_heading{
  margin: 2rem  0 1rem 1rem;
}
.home_items p{
  font-size: 12px;
  width: 170%;
  text-align: justify;
  margin-left: 0%;

}


.giga_Logo{
  width: 200px;
  margin-bottom: 2rem;
}

.confirmEmail__Item{
  margin: 2rem 2rem 0 5rem;
  justify-content: space-between;
  width: 50%;
}

.confirmEmail__header{
  font-size: 1rem;
  font-weight: 700;
}

.main_company_container{
  display: flex;
  flex-direction: column;
  width: 100%;
}


.company__image__container{
  margin: 2rem 2rem 0 0;
}
.home_image{
  display: none;
}

.body {
  margin-left: 0;
  padding-top: 2px;
  width: auto;
  height: 70vh;
  margin: 0 2rem 2rem 5rem;

}

.angle__pic{
width: 50px;
height: 50px;
padding: 10px;
}

.userbox_text h5{
font-size: 13px;
font-weight: bold;
}

.userbox_text h6{
font-size: 50%;
width: 100%;
}

.sidenav p{
  display: none;
 }
 
 .sidenav h1{
   display: none;
 }

 .userbox_text{
  margin-left: 1rem;
  font-size: 20px;
}


.userregistration__box{
  border: 2px solid;
  padding: 2px;
  min-width: 300px;
  max-width: 170%;
  margin-right: 10%;
  border-color: #fff;
 }

 
 .userformdiv{
   width: 70%;
   margin-left: 3rem;
 }

 .col-lg-8 h4{
   margin-left: 5rem;
   font-size: larger;
   color: #0e8a5e;
 }

 .gigalogo{
   width: 150px;
 }

 .companyreg__form{
  width: 70%;
}



.or_User_Reg_btn{
  width: 100%;
  border-radius: 50px;
  padding: 5px;
  background-color: inherit;
  border-color: #0e8a5e;
  color: #0e8a5e;
  font-weight: 700;
}

.col-lg-6{
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
}


.col-lg-8{
  width: 70%;
}

.col-lg-8 h4{
  margin-left: 0;
  font-size: x-large;
}

.undraw__finance{
  width: 370px;
  margin-top: 2rem;
}

.gigamoni__logo{
  width: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 1500px;
    height: 60px;
    background-color: #ffffff;
}

.confirmEmail__container{
  align-items: center;
}


.login_container{
  margin-top: 2rem;
  width: 85%;
}
} 


@media screen and (min-width: 120px) and (max-width:  400px){
  .sidenav {
    width: 15%;
    align-items: center;
    padding: 15px 5px 0 5px;
    
    }

    .home_items {
      margin-top: 3rem;
  
    }

    .home_items h2{
      font-size: 12px;

    }

    .home_items p{
      font-size: 12px;
      width: 170%;
      text-align: justify;
      margin-left: 0%;
  
    }

    .home_image{
      display: none;
    }

    .body {
      margin-left: 0;
      padding-top: 2px;
      width: 100%;
      height: 70vh;
      margin: 0 2rem 2rem 0;

    }

    .angle__pic{
  width: 40px;
  height: 40px;
  padding: 10px;
}

.userbox_text h5{
  font-size: 13px;
  font-weight: bold;
}

.userbox_text h6{
  font-size: 50%;
  width: 100%;
}
  
    .menu-icon {
      display: block;
      position: absolute;
      top: 0;
      right: 0;
      transform: translate(-100%, 60%);
      font-size: 1.8rem;
      cursor: pointer;
    }

    .fa-times {
      color: #fff;
      font-size: 2rem;
    }
  
  

    h2{
      font-size: 15px;
      font-weight: bolder;
      margin-bottom: 15px;
      text-align: center;
      width: 150px;
      margin-right: 1rem;
    }

    .smallBox {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }



.row{
  width: 300px;
  align-content: center;
}


.col-lg-6{
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
}


.col-lg-8{
  width: 70%;
  margin-top: 0;
}

.col-lg-8 h4{
  font-size: 1.2rem;
}

.userImage{
  width: 300px;
}
.sidenav p{
 display: none;
}

.sidenav h1{
  display: none;
}

.headboss{
  background-color:#fff;
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 1500px;
  height: 70px;
  margin-bottom: 2rem;
}
.gigalogo{
  width: 150px;
 
 

}

.btn-success{
  margin-bottom: 2rem;
}

.confirmEmail__Item{
  margin: 2rem 2rem 0 2rem;
  justify-content: space-between;
  width: 200px;
}

.or_User_Reg_btn{
  width: 150px;
}

.giga_Logo{
  width: 100px;
  
  
}

.Registration_btn{
  width: 150px;
}

.confirmEmail__container{
  width: 100px;
  height: 300px; 
 margin-left: 1rem;
}


.confirmEmail__header{
  font-size: 0.9rem;
  font-weight: 700;
}


.companyreg__container{
  margin: 0;
  padding-bottom: 3rem;
  width: 100%;
}

.login_container{
  margin-top: 0;
  width: 100%;
}


.gigamoni__logo{
  width: 100px;
    position: sticky;
    top: 0;
    z-index: 999;
    max-width: 1500px;
    height: 60px;
}


.companyreg__form{
  width: 70%;
  margin: 0;
}


.or_User_Reg_btn{
  padding: 2px;
  font-weight: 500;
}


.company_reg_heading{
  padding: 5px;
  font-size: 1rem;
  font-weight: 600;
  margin-bottom: 3rem;
  margin-left: 2rem
}


.undraw__finance{
  text-align: center;
  width: 280px;
  margin-left: 1rem;
}


.Registration_btn{
  padding: 5px;
  font-weight: 600;
}

.greenball__pic{
  width: 40px;
  height: 40px;
  padding: 10px;
}


.userregistration__box{
  border: 2px solid;
  padding: 2px;
  min-width: 200px;
  max-width: 170%;
  margin-right: 10%;
  border-color: #fff;
 }

 .userformdiv{
  margin-top: -1rem;
 }
 .userbox_text{
  margin-left: 1.5rem;
  font-size: 10px;
}


.main_company_container{
  display: flex;
  flex-direction: column;
  width: 100%;
  padding: 0;
  margin-left: 1rem;
}


.company__image__container{
  margin: 3rem 2rem 0 0;
}


.or_User_Reg_btn{
  padding: 3px;
  font-weight: 600;
  width: 100%;
}


.Registration_btn{
  padding: 5px;
  font-weight: 600;
  width: 100%;
}
.loginheading_paragraph{
  font-size: 12px;
  margin-bottom: 1px;
}

p{
  font-size: 12px;
}
.forgot__password, .verifyaccount, .error__notifier{
  font-size: 13px;
}

}