.btn-success {
  width: 100%;
}
.userImage {
  margin-top: 20px;
}
.sidenav {
  height: 100vh;
  width: 35%;
  z-index: -1;
  position: fixed;
  text-align: center;
  padding-right: 4em;
  padding-left: 4em;
  background-color: #0e8a5e;
  overflow-x: hidden;
  padding-top: 60px;
  color: white;
}

.body {
  margin-left: 40%;
  padding-top: 30px;
  padding-right: 40px;
}

h2 {
  padding: 0px;
  margin: 0px;
}
.card {
  margin-top: 30px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  width: 60%;
  padding: 10px 8px 0 10px;
  height: 80px;
  border-radius: 5px;
  display: inline;
}
a {
  color: black;
}
.smallBox {
  float: left;
  margin: 0 10px 0 -25px;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #0e8a5e;
}
.chip {
  margin-top: 40px;
  display: inline-block;
  padding: 0 25px;
  height: 60px;
  width: 50%;
  font-size: 16px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
}


.or_userRegistration{
  display: flex;
  flex-direction: column;
}

.companyreg__form{
  width: 400px;
}

.or_User_Reg_btn{
  border-radius: 50px;
  padding: 5px;
  background-color: inherit;
  border-color: #0e8a5e;
  color: #0e8a5e;
  font-weight: 700;
}

.gigamoni__logo{
  width: 300px;
}
.companyreg__container{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 10px 0 0 70px; 
}

.companyreg__image{
  padding: 0 3rem 3rem 3rem;
  text-align: center;
}

.company_reg_heading{
  padding: 10px;
  font-size: 2rem;
  color: #0e8a5e;
  font-weight: 600;
}

.undraw__finance{
  width: 700px;
}

.Registration_btn{
  border-radius: 50px;
  padding: 5px;
  background-color: #0e8a5e;
  border-color: #0e8a5e;
  font-weight: 700;
  color: #f1f1f1;
  width: 100%;
}


.login__link{
  text-decoration: none;
  color: #0e8a5e;
  font-weight: 600;
}

.or_line{
  display: flex;
  padding: 1rem;
}

.line{
  padding: -30px;
  color: #000;
  width: 700px;
}
.confirmEmail__container{
  align-items: center;
  height: 100vh;
}

.confirmEmail__Item{
  text-align: center;
  width: 500px;
  margin: 5rem 10rem 0 25rem;
  justify-content: space-between;
}

.confirmEmail__header{
  padding: 2rem;
  color: #0e8a5e;
}
.resend__p{
  padding: 0 0 3rem 0;
}

.resend__button{
  text-decoration: none;
  color: #0e8a5e;
}
.giga_Logo{
  width: 300px;
}

.hr_p{
  padding: 0 30px 0 30px;
  justify-content: baseline;
}




/* MEDIA SCREEN */

@media (min-width: 768px) and (max-width: 992px){
  .sidenav {
  width: 300px;
  padding: 30px 50px 0 15px;
  height: 100vh;
  }
  
  .body {
    margin-left: 40%;
    padding-top: 30px;
    padding-right: 40px;
}
  
.home_image{
  width: 250px;
  margin-top: 3rem;
}

.smallBox {
  height: 60px;
  width: 60px;
  border-radius: 50%;
  background-color: #0e8a5e;
  margin-right: 2rem;
}

   
.chip {
  margin-top: 40px;
  padding: 0 25px;
  height: 60px;
  width: 300px;
  font-size: 20px;
  line-height: 50px;
  border-radius: 25px;
  background-color: #f1f1f1;
  margin-right: 30px;
}

.gigalogo{
  width: 150px;
  
}

.btn-success{
  margin-bottom: 2rem;
}

.row{
  width: 400px;
  margin: 0 0 0 6rem;
  
}


.confirmEmail__Item{
  margin: 2rem 2rem 0 12rem;
  justify-content: space-between;
  width: 350px;
}

.or_User_Reg_btn{
  width: 250px;
}

.giga_Logo{
  width: 250px;
}

.Registration_btn{
  width: 250px;
}


}

@media (min-width: 320px) and (max-width: 767px) {
  .sidenav {
    width: 100px;
    align-items: center;
    padding: 15px 5px 0 5px;
    }

    .home_image{
      width: 90px;
    }

    .body {
      margin-left: 45%;
      padding-top: 10px;
      width: auto;
      height: 70vh;

    }

    h2{
      font-size: 15px;
      font-weight: bolder;
      margin-bottom: 15px;
      text-align: center;
      width: 150px;
      margin-right: 1rem;
    }

    .smallBox {
      height: 50px;
      width: 50px;
      border-radius: 50%;
    }

    
.chip {
  margin-top: 2rem;
  flex-direction: row;
  height: 50px;
  width: 170px;
  font-size:10px;
  font-weight: 600;
  display: inline-block;
  text-align: center;
  margin-right: 10px;


}

.row{
  width: 300px;
  align-content: center;
}


.col-lg-6{
  display: flex;
  margin-left: 2.5rem;
  margin-right: 2.5rem;
  text-align: center;
}


.col-lg-8{
  width: 250px;
}

.userImage{
  width: 300px;
}
.sidenav p{
  font-size: 12px;
  font-weight: 600;
  margin-top: 2rem;
}

.sidenav h1{
  font-size: 1rem;
}

.headboss{
  background-color:#fff;
  position: sticky;
  top: 0;
  z-index: 999;
  max-width: 1500px;
  height: 70px;
  margin-bottom: 2rem;
}
.gigalogo{
  width: 150px;
 
 

}

.btn-success{
  margin-bottom: 2rem;
}

.confirmEmail__Item{
  margin: 2rem 2rem 0 2rem;
  justify-content: space-between;
  width: 300px;
}

.or_User_Reg_btn{
  width: 150px;
}

.giga_Logo{
  width: 200px;
  
}

.Registration_btn{
  width: 150px;
}

}
